body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}
/* Menu-bar */

.menu-bar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    font-family: 'Roboto', arial;
}

.header-link a {
    padding: 10px;
}

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-cta p {
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #F9FAF8;
}

button {
    display: block;
    text-align: center;
    border: none;
}

.content {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
}

.content-info .illustration {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    margin: 5px 20px 9px 20px;
    border-radius: 15px;
}

.quote  {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
}

.quote b {
    text-align: right;
    padding-bottom: 20px;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
    align-items: center;
}

.signs-text {
    text-align: left;
}